<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login com password</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/login" method="post">
        <input type="text" name="username" /><br />
        <input type="password" name="password" /><br />
        <input type="submit" value="Login" />
    </form>
    <% if(message) {%>
        <p>
            <label style="color:red;"><%= message %></label>
        </p>
    <%}%>
    <p>
        <a href="/users/forgot">Equeceu a senha?</a> | <a href="/users/signup">Não possui cadastro.</a>
    </p>
</body>
</html>